<ion-header>
  <ion-toolbar class="gradient-background-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/LOZ" class="white-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title class="toolbar-title">Monsters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="iphone-13-mini-11 gradient-background">
  <div class="search-container" style="display: flex; justify-content: center; width: 100%;">
    <div class="searchbar-with-filter-wrapper">
      <ion-searchbar
        [(ngModel)]="searchTerm"
        (ionInput)="applyFilters()"
        animated="true"
        placeholder="Search"
        show-clear-button="always"
        mode="ios"
        class="transparent-searchbar"
      ></ion-searchbar>

      <div class="filter-icon-wrapper" (click)="toggleFilter()" style="cursor: pointer;">
        <img class="icon" src="assets/Monster_Hunter_Pages/filter.png" alt="Filter Icon" />
      </div>
    </div>
  </div>


  <!-- Filter Bar -->
  <div class="filter-bar" *ngIf="showFilters">
    <div class="filters-row">
      <label>
        <span>Place:</span>
        <select [(ngModel)]="selectedPlace" (change)="applyFilters()">
          <option value="">All</option>
          <option *ngFor="let place of availablePlaces" [value]="place">{{ place }}</option>
        </select>
      </label>

      <label>
        <span>Drops:</span>
        <select [(ngModel)]="selectedDrop" (change)="applyFilters()">
          <option value="">All</option>
          <option *ngFor="let drop of availableDrops" [value]="drop">{{ drop }}</option>
        </select>
      </label>
    </div>

    <ion-button expand="block" fill="clear" color="dark" (click)="resetFilters()">Reset Filters</ion-button>
  </div>

  <div *ngIf="loading" class="loading-spinner">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div *ngIf="!loading" class="monster-list-container">
    <div class="monster-grid">
      <ion-card *ngFor="let monster of monsters" class="monster-item">
        <ion-card-header>
          <ion-card-title>
            <strong>{{ monster.name | uppercase }}</strong>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="monster-content">
          <img [src]="monster.image" alt="{{ monster.name }}" />
          <div
            class="rectangle-parent"
            (click)="navigateToDetail(monster.id)"
            style="cursor: pointer;"
          >
            <img
              class="fi-rr-arrow-small-right-icon"
              src="assets/Zelda_bilder/pfeil.png"
              alt="Details »"
            />
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
