<ion-content class="iphone-13-mini-11">
  <!-- Welcome Banner -->
  <div class="welcome-to-the-container">
    <p class="welcome-to">Welcome to</p>
    <p class="welcome-to">The Legend of Zelda:</p>
    <p class="welcome-to">Breath of the Wild Compendium</p>
  </div>

  <!-- Monster List -->
  <div class="monster-list-container">
    <div class="monster-grid">
      <ion-card *ngFor="let monster of monsters" class="monster-item">
        <ion-card-header>
          <ion-card-title><strong>{{ monster.name | uppercase }}</strong></ion-card-title>
        </ion-card-header>
        <ion-card-content class="monster-content">
          <img [src]="monster.image" alt="{{ monster.name }}" />
          <div class="rectangle-parent">
            <img class="fi-rr-arrow-small-right-icon" src="assets/Zelda_bilder/pfeil.png" />
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
