<ion-content class="monster-content">
  <!-- Header -->
  <div class="header">
    <div class="title">Monster Hunter World</div>

    <!-- Temporäre Suchleiste (ohne Funktion) -->
    <div class="search-container">
      <div class="search-bar">
        <ion-searchbar animated="true" placeholder="Search"></ion-searchbar>      </div>
      <ion-button class="filter-button" id="popover-button">
        <img src="assets/Monster_Hunter_Pages/filter.png" class="filter-icon" alt="Filter">
      </ion-button>

      <ion-popover trigger="popover-button" [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item [button]="true" [detail]="false">Option 1</ion-item>
              <ion-item [button]="true" [detail]="false">Option 2</ion-item>
              <ion-item [button]="true" id="nested-trigger">More options...</ion-item>

              <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
                <ng-template>
                  <ion-content>
                    <ion-list>
                      <ion-item [button]="true" [detail]="false">Nested option</ion-item>
                    </ion-list>
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </div>
  </div>

  <!-- Hauptmonster (erstes Monster in der Liste) -->
  <div *ngIf="monsters.length > 0" class="main-monster-card">
    <div class="monster-name">{{ monsters[0].name }}</div>
    <img class="monster-badge" [src]="'assets/Monster-Images/' + monsters[0].name + 'mini.png'">
    <img class="monster-image" [src]="'assets/Monster-Images/' + monsters[0].name + '.png'">

    <div class="monster-details">
      <p><strong>Spezies:</strong> {{ monsters[0].species }}</p>
      <p *ngIf="monsters[0].elements?.length > 0">
        <strong>Elemente:</strong> {{ monsters[0].elements.join(', ') }}
      </p>
    </div>
  </div>

  <!-- Alle anderen Monster -->
  <div class="section-title">Alle Monster</div>

  <div class="similar-monsters-grid">
    <div class="monster-tile" *ngFor="let monster of monsters.slice(1)">
      <img class="monster-tile-image" [src]="'assets/Monster-Images/' + monster.name + '.png'">
      <div class="monster-tile-name">{{ monster.name }}</div>
      <div class="monster-tile-species">{{ monster.species }}</div>
    </div>
  </div>

</ion-content>
