<ion-header>
  <ion-toolbar>
    <ion-title>Monster Liste</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let monster of monsters">
      <ion-label>
        <h2>{{ monster.name }}</h2>
        <img [src]="'../assets/Monster-Images/' + monster.name + '.png'" class="monster-image" />
        <p><strong>Beschreibung:</strong> {{ monster.description }}</p>
        <p><strong>Spezies:</strong> {{ monster.species }}</p>
        <p *ngIf="monster.elements?.length > 0">
          <strong>Elemente:</strong> {{ monster.elements?.join(', ') }}
        </p>
        <p *ngIf="monster.weaknesses?.length > 0">
          <strong>Schwächen:</strong>
          <span *ngFor="let weakness of monster.weaknesses; let i = index">
            {{ weakness.element }}<span *ngIf="i < monster.weaknesses.length - 1">, </span>
          </span>
        </p>
        <ul>
          <li *ngFor="let weakness of monster.weaknesses">
            {{ weakness.element }} - Effektivität: {{ weakness.stars }}
          </li>
        </ul>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Weapons Liste</h2>
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let weapon of weapons">
      <ion-label>
        <h3>{{ weapon.displayName }}</h3>
        <img [src]="'../assets/' + getWeaponImagePath(weapon)" />
        <p><strong>Type:</strong> {{ weapon.type }}</p>
        <p><strong>Attack:</strong> {{ weapon.attack.display || weapon.attack.raw }}</p>
        <p *ngIf="weapon.elements && weapon.elements.length > 0">
          <strong>Elements:</strong>
          <span *ngFor="let element of weapon.elements; let i = index">
            {{ element.type }}<span *ngIf="i < weapon.elements.length - 1">, </span>
          </span>
        </p>
        <!-- Crafting Informationen hinzufügen -->
        <div *ngIf="weapon.crafting && weapon.crafting.craftingMaterials?.length > 0">
          <p><strong>Crafting Materialien:</strong></p>
          <ul>
            <li *ngFor="let material of weapon.crafting.craftingMaterials">
              {{ material.quantity }}x {{ material.item.name }}
            </li>
          </ul>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
