<app-header></app-header>

<ion-content class="iphone-13-mini-11">
  <!-- Welcome Banner -->
  <div class="welcome-to-the-container">
    <p class="welcome-to">Welcome to The Legend of Zelda:</p>
    <p class="welcome-to">Breath of the Wild Compendium</p>
  </div>

  <!-- Search Bar -->
  <div class="search-container">
    <div class="custom-searchbar-wrapper">
      <ion-searchbar
        animated="true"
        placeholder="Search"
        show-clear-button="always"
        mode="ios"
        [(ngModel)]="searchTerm"
        (ionInput)="applyFilters()">
        <div class="rectangle-div">
          <img class="icon" src="../../assets/Monster_Hunter_Pages/filter.png" />
        </div>
      </ion-searchbar>
    </div>
  </div>

  <!-- Hero Section -->
  <div class="frame-parent">
    <div class="go-to-weapons-wrapper" [routerLink]="'/weapon-page-loz'">
      <div class="go-to-weapons">
        Go to Weapons
      </div>
    </div>

    <div class="go-to-monsters-wrapper" [routerLink]="'/monster-page-loz'">
      <div class="go-to-weapons">
        Go to Monsters
      </div>
    </div>

    <div class="frame-child"></div>
    <img class="link-1-icon" src="assets/Zelda_bilder/link_1.png" />
  </div>

  <!-- Popular Weapons Title -->
  <div class="popular-weapons">Popular Weapons</div>

  <!-- Weapons Grid genau wie auf Weapons-Seite -->
  <div class="weapons-grid">
    <div
      *ngFor="let weapon of weapons"
      class="item-container"
      (click)="navigateToDetail(weapon.id)">
      <p class="item-name">{{ weapon.name | uppercase }}</p>  <!-- Text über dem Bild -->
      <div class="item-content">
        <img [src]="weapon.image" alt="{{ weapon.name }}" />
        <div class="rectangle-parent">
          <img class="fi-rr-arrow-small-right-icon" src="assets/Zelda_bilder/pfeil.png" />
        </div>
      </div>
    </div>
  </div>
</ion-content>
