<ion-content class="iphone-13-mini-11">
  <!-- Welcome Banner -->
  <div class="welcome-to-the-container">
    <p class="welcome-to">Welcome to The Legend of Zelda:</p>
    <p class="welcome-to">Breath of the Wild Compendium</p>
  </div>

  <!-- Search Bar -->
  <div class="search-container">
    <div class="custom-searchbar-wrapper">
      <ion-searchbar
        animated="true"
        placeholder="Search"
        show-clear-button="always"
        mode="ios">
        <div class="rectangle-div">
        <img class="icon" src="../../assets/Monster_Hunter_Pages/filter.png">
      </div>
      </ion-searchbar>
    </div>
    </div>




  <!-- Hero Section -->
  <!-- Go to Weapons -->
  <div class="frame-parent">
    <div class="go-to-weapons-wrapper">
      <div class="go-to-weapons" [routerLink]="'/weapon-page-loz'">
        Go to Weapons
      </div>
    </div>

    <!-- Go to Monsters -->
    <div class="go-to-monsters-wrapper">
      <div class="go-to-weapons" [routerLink]="'/monster-page-loz'">
        Go to Monsters
      </div>
    </div>

  <div class="frame-child"></div>
    <img class="link-1-icon" src="assets/Zelda_bilder/link_1.png">
  </div>

  <!-- Popular Weapons Title -->
  <div class="popular-weapons">Popular Weapons</div>

  <!-- Weapons Grid -->
  <div class="weapons-grid">
    <div class="ellipse-container">
      <div class="ellipse-div"></div>
      <img class="image-279-icon" src="assets/Zelda_bilder/master_sword.png">
      <div class="the-master-sword">The Master Sword</div>
      <div class="rectangle-parent">
        <div class="group-child"></div>
        <img class="fi-rr-arrow-small-right-icon" src="assets/Zelda_bilder/pfeil.png">
      </div>
    </div>

    <div class="group-parent">
      <img class="image-280-icon" src="assets/Zelda_bilder/ancient_sword.png">
      <div class="ancient-sword">Ancient Sword</div>
      <div class="frame-child1"></div>
      <div class="rectangle-group">
        <div class="group-item"></div>
        <img class="fi-rr-arrow-small-right-icon" src="assets/Zelda_bilder/pfeil.png">
      </div>
    </div>
  </div>
</ion-content>
