<app-header></app-header>

<ion-content class="iphone-13-mini-11 gradient-background">

  <!-- Willkommen -->
  <div class="welcome-to-the-container">
    <p class="welcome-to">Welcome to The Legend of Zelda:</p>
    <p class="welcome-to">Breath of the Wild Compendium</p>
  </div>

  <!-- Search + Filter Icon -->
  <div class="search-container">
    <div class="custom-searchbar-wrapper">
      <ion-searchbar
        [(ngModel)]="searchTerm"
        (ionInput)="applyFilters()"
        animated="true"
        placeholder="Search"
        show-clear-button="always"
        mode="ios"
        class="transparent-searchbar">
        <div class="rectangle-div" slot="end" (click)="toggleFilter()">
          <img class="icon" src="../../assets/Monster_Hunter_Pages/filter.png" />
        </div>
      </ion-searchbar>
    </div>
  </div>

  <!-- Filter-Leiste -->
  <div class="filter-bar" *ngIf="showFilters">
    <div class="filter-title">Filter</div>

    <!-- Ort -->
    <label>
      <span>Place:</span>
      <select [(ngModel)]="selectedPlace" (change)="applyFilters()">
        <option value="">All</option>
        <option *ngFor="let place of availablePlaces" [value]="place">{{ place }}</option>
      </select>
    </label>

    <!-- Attack -->
    <label>
      <span>Min. Attack: {{ minAttack ?? 0 }}</span>
      <ion-range [(ngModel)]="minAttack" min="0" max="100" pin="true" (ionChange)="applyFilters()"></ion-range>
    </label>

    <!-- Defense -->
    <label>
      <span>Min. Defense: {{ minDefense ?? 0 }}</span>
      <ion-range [(ngModel)]="minDefense" min="0" max="100" pin="true" (ionChange)="applyFilters()"></ion-range>
    </label>

    <!-- Zurücksetzen -->
    <ion-button expand="block" fill="clear" color="dark" (click)="resetFilters()">Reset Filters</ion-button>
  </div>

  <!-- Hero Section -->
  <div class="frame-parent">
    <div class="go-to-weapons-wrapper" [routerLink]="'/weapon-page-loz'">
      <div class="go-to-weapons">Go to Weapons</div>
    </div>
    <div class="go-to-monsters-wrapper" [routerLink]="'/monster-page-loz'">
      <div class="go-to-weapons">Go to Monsters</div>
    </div>
    <div class="frame-child"></div>
    <img class="link-1-icon" src="assets/Zelda_bilder/link_1.png" />
  </div>

  <!-- Beliebte Waffen Titel -->
  <div class="popular-weapons">Popular Weapons</div>

  <!-- Waffen-Grid -->
  <div class="weapons-grid">
    <div
      *ngFor="let weapon of weapons"
      class="item-container"
      (click)="navigateToDetail(weapon.id)">
      <p class="item-name">{{ weapon.name | uppercase }}</p>
      <div class="item-content">
        <img [src]="weapon.image" alt="{{ weapon.name }}" />
        <div class="rectangle-parent">
          <img class="fi-rr-arrow-small-right-icon" src="assets/Zelda_bilder/pfeil.png" />
        </div>
      </div>
    </div>
  </div>

</ion-content>
